#particles-js {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 100;  
    background-attachment:fixed;   
    position: fixed;
    height: 100vh;
    min-height: 350px;  
    width: 100%;
  }

  .static_m {
    position: fixed;    
  }

  .fefe-content {
    color: #fff;
    font-size: 12px;
    Opacity: .5;
    margin: 0 auto;
    margin-top: 10%;
    margin-right: 60%;
    position: absolute;
}

.hnrss-content {
  color: #fff;
  font-size: 12px;
  Opacity: .5;
  margin: 0 auto;
  margin-top: 454px;
  margin-left: 420px;
  text-align:center;
  position: absolute;
  width:25em;
}

.fefe-content {
  color: #fff;
  font-size: 12px;
  Opacity: .5;
  margin-top: 30%;
  margin-left: 30%;
  min-width: 100%;
  position: absolute;
}

.heise-content {
color: #fff;
font-size: 12px;
Opacity: .5;
margin: 0 auto;
margin-top: 454px;
margin-left: 640px;
text-align:center;
position: absolute;
width:25em;
}